# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [76]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [77]:
df_vendas = pd.read_csv(r"C:\Users\Léo\Downloads\ciencia de dados\modulo 24\TB_VENDAS_TAREFA.csv", delimiter=';')

In [78]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [79]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [80]:
query = "SELECT * FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [81]:
query = "SELECT produto FROM tb_vendas LIMIT 10"
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2  CAMISETA
3   BERMUDA
4  CAMISETA
5   VESTIDO
6     CALCA
7      MEIA
8     CALCA
9   VESTIDO

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [82]:
query = """
SELECT 
    AVG(VALOR_UNID) AS media_valor_unid,
    AVG(UNIDADES) AS media_unidades
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

   media_valor_unid  media_unidades
0         63.416667        1.833333

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [83]:
query = """
SELECT 
    ID_COMPRA,
    ID_CLIENTE,
    (VALOR_UNID * UNIDADES) AS valor_total_gasto
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE  valor_total_gasto
0        1247        9081                 68
1        1248        9081                 89
2        1250        9560                 34
3        1249        9630                158
4        1251        9425                102
5        1252        9425                102
6        1253        9481                178
7        1254        9785                 25
8        1255        9786                178
9        1256        9787                102
10       1257        9788                178
11       1258        9789                102
12       1259        9790                 34
13       1260        9791                158
14       1261        9792                 68
15       1262        9793                178
16       1263        9794                 89
17       1264        9795                158
18       1265        9796                136
19       1266        9797                 34
20       1267        9798                204
21       1268        9799                 75
22       1269        9800                 68
23       1270        9801                 89

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [84]:
query = """
SELECT 
    AVG(VALOR_UNID * UNIDADES) AS media_valor_total_gasto
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

   media_valor_total_gasto
0                  108.625

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
Minimo 2 linhas.

    SQL é usado para extrair e organizar dados de bancos de forma rápida e eficiente.


    Python é usado para analisar, modelar e visualizar dados, aplicando estatística e machine learning.

#7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Minimo 3 linhas.

    Bancos de dados relacionais (SQL) organizam dados em tabelas com linhas e colunas, permitindo relacionamentos claros entre diferentes tabelas e garantindo integridade dos dados.


    Bancos de dados não relacionais (NoSQL) armazenam dados de forma mais flexível, como documentos, chave-valor ou grafos, sendo ideais para grandes volumes de dados variados ou não estruturados.

    
    Enquanto os relacionais são ótimos para consultas complexas e consistência, os não relacionais priorizam escalabilidade e flexibilidade.

#8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.
Muitas vezes durante a carreia você terá que escolher qual linguagem utilizar para cada momento afim de entregar o que é solicitado o mais rápido e com qualidade possível, exercite sua argumentação = )

Minimo 3 linhas.

    Sim, o SQL pode ser mais prático que o Python para consultas rápidas, principalmente quando os dados já estão armazenados em um banco relacional.

    Isso acontece porque o SQL foi projetado especificamente para filtrar, agrupar e agregar dados diretamente no banco, sem a necessidade de carregar toda a base para a memória, como acontece no Python. Por exemplo, calcular a soma de vendas de um mês ou listar clientes que compraram acima de um valor específico é muito mais direto e rápido usando SQL do que carregar os dados no Python e depois aplicar filtros.

    Além disso, usar SQL nesse contexto reduz processamento desnecessário, entrega resultados rápidos e mantém o código mais simples. Já o Python se torna mais vantajoso quando queremos análises complexas, transformações avançadas ou visualizações, após extrair os dados.